@media print {
aside.nextra-sidebar-container,
div.motion-reduce\:nx-transition-none.\.nx-fixed.nx-inset-0.nx-z-10.nx-bg-black\/80.dark\:nx-bg-black\/60,
.nextra-nav-container,
main > div:last-child,
footer,
div[title="Export"]
{
    display: none;
}
}

.footnotes {
    opacity: 50%;
    border-color: hsl(var(--nextra-primary-hue)100% 94%/.1);
    border-top-width: 1px;
    bottom: -0.25em;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
    margin-top: 1.5rem;
}
html[class~=light] .footnotes {
    border-color: rgba(229,229,229,1);
}
html .footnotes[data-footnotes="true"] > ol {
    margin-top: 0;
    margin-left: .8rem;
}
.footnotes > ol > li:first-of-type{
    margin-top: 0;
}

.footnotes > h2 {
    display: none;
}

sup > a::before {
    content: "[";
}

sup > a::after {
    content: "]";
}